.side-navbar {
  color: #fff;
  width: 200px;
  padding: 20px;
  background-image: url("../assets/images/bg-sidebar-desktop.svg"); /* Background color of the side navbar */
  background-size: cover; /* Scale the background image to cover the entire circle */
  background-position: center;
}

.side-navbar ul {
  list-style: none;
  padding: 0;
}

.step {
  margin-bottom: 20px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  position: relative; /* For positioning the step number */
}

.step-number {
  position: absolute;
  left: -20px; /* Adjust the position of the step number */
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  background-color: #007bff; /* Default color for step numbers */
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  color: #fff; /* Text color for step numbers */
}

.step.active .step-number {
  background-color: #28a745; /* Color for the active step number */
}

.step:hover {
  background-color: #555;
}
